<!DOCTYPE html>
<html>

    <head>
        <title>Todo Lists</title>
    </head>

    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <p>
                    <a href="{% url 'create_todolist' %}">Create a new list</a>
                </p>
                <p>
                    <a href="{% url 'create_todoitem' %}">Create a new item</a>
                </p>

                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Numer of items</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for todolist in todolist_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_todolist' todolist.pk %}">{{ todolist.name }}</a>
                                </td>
                                <td>{{ todolist.items.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </main>
    </body>

</html>